<launch>
	
	<!-- Launch the torque controller node -->
	<node name="torque_control" pkg="torque_control" type="torque_control" cwd="node" output="screen">
			<remap from="~torques_command" to="/arm_1/arm_controller/torques_command" />
			<remap from="~joint_states" to="/joint_states" />
			<remap from="~position_command" to="/arm_1/arm_controller/position_command" />
	</node>

</launch>
